.cart {
    position: sticky;
    width: 300px;
    top: 0;
    padding: 30px 20px;
    background-color: whitesmoke;
    margin-right: 100px;
    margin-top: 70px;
    border-radius: 10px;
}

.cart img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-info {
    text-align: left;
    padding-left: 6px;
}

.break-info h3 {
    text-align: left;

}

.exercise-info {
    background-color: wheat;
    padding: 5px;
    border-radius: 5px;
}